* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.section_hero {
    background-color: #FFF5E9;
    padding: 40px;
    margin-bottom: 80px;
}

.section_hero h1 {
    color: #8b6656;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.logo_img {
    width: 180px;
    margin: 10px auto 20px auto;
}

.promesse {
    font-size: 0.8rem;
    font-style: italic;
    margin: 12px 0;
}

.urgence {
    font-weight: bold;
    margin-bottom: 0.6rem;
}

.vsl {
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden;
    border-radius: 6px;
}

.cta {
    background-color: #A47764;
    color: white;
    text-decoration: none;
    display: block;
    width: 250px;
    text-align: center;
    margin: 24px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px 0px #858585;
    font-weight: bold;
    padding: 10px 0;
    line-height: 1.2;
}

.cta:hover {
    cursor: pointer;
    box-shadow: 0px 3px 16px 0px #858585;
}

.cta_span, .cta_span-pour-toi {
    font-weight: normal;
    font-size: 0.6rem;
    margin-top: 0.1rem;
}

.section_pour-toi {
    background-color: #FFF5E9;
    width: 80%;
    margin: 3rem auto;
    padding: 1rem;
    box-shadow: 0px 2px 10px 0px #b6b6b6;
    border-radius: 6px;
}

.section_pour-toi h2 {
    font-size: 1.2rem;
    color: #A47764;
    margin-bottom: 1.2rem;
    text-align: center;
}

.section_pour-toi ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.8rem;
}

.section_pour-toi-cta {
    text-align: center;
    margin: 3rem auto;
    text-transform: uppercase;
    font-weight: bold;
}

.span-creme {
    color: #A47764;
}

.section_changement {
    background-color: #FFF5E9;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 3rem auto;
}

.section_changement h2 {
    font-size: 1rem;
    color: #A47764;
}

.section_changement div {
    width: 90%;
    background-color: white;
    box-shadow: 0px 2px 10px 0px #b6b6b6;
    padding: 1rem;
    font-size: 0.8rem;
    border-radius: 6px;
}

.section_resultat {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 3rem auto;
}

.section_resultat h2 {
    font-size: 1.2rem;
    color: #A47764;
    text-align: center;
}

.section_resultat div {
    background-color: #FFF5E9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 2px 10px 0px #b6b6b6;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section_resultat div article {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_resultat div article img {
    margin-bottom: 1rem ;

}

.section_resultat div article h3 {
    font-size: 1rem;
    color: #8b6656;
    align-self: baseline;
}

.section_resultat div article p {
    font-size: 0.8rem;
    font-style: italic;
}

.faq {
    background-color: #FFF5E9;
    padding: 2rem 1rem;
    margin: 3rem auto;
}

.faq h2 {
    text-align: center;
    color: #A47764;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.faq__list {
    max-width: 760px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.faq__item {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #A47764;
    padding: 0 0.8rem;
    font-size: 0.9rem;
    overflow: hidden;
}

.faq__details {
    width: 100%;
}

.faq__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    color: #6d5044;
    list-style: none;
    min-height: 60px;
    user-select: none;
    padding: 1rem 0;
}

.faq__question::-webkit-details-marker {
    display: none;
}

.faq__details[open] .faq__question {
    padding-left: 1rem;
    background-color: #a4776407;
}

.faq__icon {
    flex-shrink: 0;
    display: flex;
}

.faq__details[open] .faq__icon {
    transform: rotate(180deg);
}

.faq__answer {
    padding: 1rem;
    line-height: 1.8;
    border-top: 1px solid #8b6656;
    padding-inline: 0;
    font-size: 1rem;
}

.section_calendly {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    margin: 3rem auto;
}

.section_calendly h2 {
    font-size: 1.2rem;
    color: #A47764;
    text-align: center;
    margin-bottom: 1rem;
}

.calendly {
    width: 90%;
    height: 500px;
    border: 3px solid #A47764;
    margin: auto;
    border-radius: 8px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background-color: #8b6656;
    color: white;
    font-size: 0.8rem;
    height: 2rem;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
    .section_hero-container {
        max-width: 1200px;
        margin: auto;
    }

    .section_hero {
        text-align: center;
    }

    .logo_img {
        width: 240px;
        margin-bottom: 40px;
    }

    .section_hero h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .hero_title {
        font-size: 2rem;
        max-width: 700px;
        margin: auto;
        line-height: 1.2;
        margin-bottom: 1.5rem;
    }

    .promesse {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .urgence {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .vsl {
        max-width: 900px;
        margin: 0 auto; /* pour centrer */
        padding-bottom: 0; /* reset */
        height: 506px; /* 900 * 56.25% */
    }

    .cta { 
        margin: 3rem auto;
        font-size: 1.5rem;
        width: 350px;
    }

    .cta_span {
        font-size: 0.8rem;
    }

    .section_pour-toi {
        margin: 80px auto 40px auto;
        padding: 60px;
        max-width: 1200px;
    }

    .section_pour-toi h2 {
        font-size: 1.8rem;
        margin-bottom: 40px;
    }

    .section_pour-toi ul {
        font-size: 1rem;
        gap: 1.5rem;
    }

    .section_pour-toi-cta {
        margin-bottom: 80px;
    }

    .section_pour-toi-cta > p {
        font-size: 1.3rem;
    }

    .section_changement {
        margin: 80px auto;
        padding: 80px;
    }

    .section_changement h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .section_changement div {
        max-width: 800px;
        margin: auto;
        font-size: 1rem;
    }

    .section_resultat {
        margin: 80px auto;
    }

    .section_resultat h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .section_resultat div {
        flex-direction: row;
    }

    .section_resultat div article {
        max-width: 320px;
    }

    .faq {
        margin: 80px auto;
        padding: 80px;
    }

    #faq-title {
        font-size: 1.8rem;
        margin-bottom: 40px;
    }

    .section_calendly {
        margin: 80px auto;
        padding: 80px;
    }

    .section_calendly h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
}